@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
.u-visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px; }

.nowrap {
  white-space: nowrap !important; }

@media (min-width: 0) {
  .hide-above- {
    display: none; } }

@media (max-width: -1px) {
  .hide-below- {
    display: none; } }

@media (min-width: 425px) {
  .hide-above-s {
    display: none; } }

@media (max-width: 424px) {
  .hide-below-s {
    display: none; } }

@media (min-width: 768px) {
  .hide-above-m {
    display: none; } }

@media (max-width: 767px) {
  .hide-below-m {
    display: none; } }

@media (min-width: 1024px) {
  .hide-above-l {
    display: none; } }

@media (max-width: 1023px) {
  .hide-below-l {
    display: none; } }

@media (min-width: 1440px) {
  .hide-above-xl {
    display: none; } }

@media (max-width: 1439px) {
  .hide-below-xl {
    display: none; } }

html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

form {
  margin: 0; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

button, input, select, textarea {
  font-size: 1rem; }

figure {
  margin: 0; }

html {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 18px;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif; }

.content h1 {
  font-size: 36px;
  margin: 36px 0; }

.content h2 {
  font-size: 27px;
  margin: 27px 0; }

.content h3 {
  font-size: 21px;
  margin: 21px 0; }

.content h4 {
  font-size: 18px;
  margin: 18px 0; }

p,
.p {
  display: block;
  margin: 18px 0; }
  p:first-child,
  .p:first-child {
    margin-top: 0; }
    .content > p:first-child, .content >
    .p:first-child {
      margin-top: 18px; }
  p:last-child,
  .p:last-child {
    margin-bottom: 0; }
    .content > p:last-child, .content >
    .p:last-child {
      margin-bottom: 18px; }

.content a:not(.anchor):not(.article-ref),
.a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background: linear-gradient(to top, #aad5ff 0%, #aad5ff 3px, transparent 3.1px, transparent 100%); }
  .content a:not(.anchor):not(.article-ref):hover, .content a:not(.anchor):not(.article-ref):focus,
  .a:hover,
  .a:focus {
    background: linear-gradient(to top, #77bbff 0%, #77bbff 3px, transparent 3.1px, transparent 100%); }
  @media print {
    .content a:not(.anchor):not(.article-ref),
    .a {
      background: none;
      border-bottom: 3px solid #aad5ff; } }

.anchor {
  text-decoration: none; }
  .anchor::before {
    content: "🔗";
    speak: never; }

.content blockquote,
.blockquote {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px 10px 0; }
  @media (min-width: 425px) {
    .content blockquote,
    .blockquote {
      padding: 0 30px; } }
  .content blockquote:before,
  .blockquote:before {
    content: "“";
    font-size: 60px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0; }
  .content blockquote cite:before,
  .blockquote cite:before {
    content: "― "; }

.content ul, .content ol {
  padding-left: 20px; }
  .content ul > li, .content ol > li {
    margin: 9px 0; }

.content hr {
  margin: 36px 0;
  border: none;
  border-bottom: 1px solid #ddd; }

.content h4 {
  margin-bottom: 0; }
  .content h4 + p,
  .content h4 + .p {
    margin-top: 0; }

.content table {
  font-size: 18px;
  width: 100%;
  border-collapse: collapse;
  margin: 18px 0; }
  .content table > tr:first-child:nth-last-child(n+5):nth-child(2n-1), .content table > tr:first-child:nth-last-child(n+5) ~ tr:nth-child(2n-1),
  .content table tbody > tr:first-child:nth-last-child(n+5):nth-child(2n-1),
  .content table tbody > tr:first-child:nth-last-child(n+5) ~ tr:nth-child(2n-1) {
    background: #eee; }
  .content table td, .content table th {
    padding: 10px;
    border: 1px solid #666;
    text-align: left;
    vertical-align: top; }

.content dl {
  margin: 0;
  padding: 0; }
  .content dl > div {
    margin: 18px 0; }
  .content dl dt {
    margin: 0;
    padding: 0; }
  .content dl dd {
    margin: 0;
    padding: 0; }

.todo {
  background: yellow !important; }

body {
  padding: 20px 0; }
  @media (min-width: 768px) {
    body {
      padding: 60px 0 160px; } }

.layout {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px; }
  @media (min-width: 425px) {
    .layout {
      padding: 0 20px; } }

.layout--wide {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1460px; }

.tooltip:focus {
  outline: none; }

.tooltip__trigger {
  position: relative;
  cursor: pointer;
  background-color: #aaffd5; }

.tooltip__trigger:hover,
.tooltip:focus .tooltip__trigger {
  background-color: #77ffbb; }
  .tooltip__trigger:hover:before,
  .tooltip:focus .tooltip__trigger:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    bottom: -18px; }

.tooltip:focus .tooltip__trigger {
  outline-color: #4d90fe;
  outline-style: solid;
  outline-width: 2px; }
  @supports (outline-color: -webkit-focus-ring-color) {
    .tooltip:focus .tooltip__trigger {
      outline-color: -webkit-focus-ring-color; } }
  @supports (outline-style: auto) {
    .tooltip:focus .tooltip__trigger {
      outline-style: auto; } }

.tooltip:focus-within .tooltip__trigger {
  background-color: #77ffbb;
  outline-color: #4d90fe;
  outline-style: solid;
  outline-width: 2px; }
  .tooltip:focus-within .tooltip__trigger:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    bottom: -18px; }
  @supports (outline-color: -webkit-focus-ring-color) {
    .tooltip:focus-within .tooltip__trigger {
      outline-color: -webkit-focus-ring-color; } }
  @supports (outline-style: auto) {
    .tooltip:focus-within .tooltip__trigger {
      outline-style: auto; } }

.tooltip__body {
  position: absolute;
  z-index: 2;
  padding: 10px;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: none; }
  .tooltip__body:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -18px;
    right: -18px;
    top: -18px;
    bottom: -18px; }
  @media (max-width: 767px) {
    .tooltip__body {
      left: 10px;
      right: 10px;
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .tooltip__body {
      width: 400px;
      transform: translate(10px, -20px); } }

.tooltip__body:hover,
.tooltip:focus .tooltip__body,
.tooltip:hover .tooltip__body {
  display: inline-block; }

.tooltip:focus-within .tooltip__body {
  display: inline-block; }

.tooltip.tooltip--hidden .tooltip__body {
  display: none; }

.tooltip--block .tooltip__body {
  transform: none;
  left: 20px;
  width: calc(100% - 40px);
  margin-top: 44px; }

@media print {
  .tooltip__body {
    position: static;
    display: block !important;
    width: auto;
    margin-top: 25px; }
    .tooltip__body:before, .tooltip__body:after {
      display: none; } }

.expander__trigger {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  min-height: 44px;
  align-items: center; }
  .expander__trigger::before {
    content: "-";
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    border-radius: 50%; }
  .expander[aria-expanded="false"] .expander__trigger::before {
    content: "+"; }
  .expander__trigger::after {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px; }
  .expander__trigger:focus {
    outline: none; }
    .expander__trigger:focus::before {
      background: #ddffee; }
    .expander__trigger:focus::after {
      outline-color: #4d90fe;
      outline-style: solid;
      outline-width: 2px; }
      @supports (outline-color: -webkit-focus-ring-color) {
        .expander__trigger:focus::after {
          outline-color: -webkit-focus-ring-color; } }
      @supports (outline-style: auto) {
        .expander__trigger:focus::after {
          outline-style: auto; } }

.expander__body {
  display: block;
  padding-bottom: 50px; }
  .expander[aria-expanded="false"] .expander__body {
    display: none; }

@media print {
  .expander__trigger::before {
    display: none; }
  .expander__body {
    display: block !important; } }

.article-meta {
  font-size: 0.75em; }
  .article-meta:after {
    content: "";
    display: table;
    clear: both; }
  .article-meta, .article-meta a {
    color: #666; }

.article-meta__author {
  float: left; }

.article-meta__codebook {
  float: left;
  clear: left; }

.article-meta__date {
  float: right;
  clear: right; }

.article-intro {
  font-weight: bold; }

.article-highlight {
  font-size: 1.2em;
  margin: 36px 0;
  page-break-inside: avoid; }

.article-ref {
  color: #333;
  vertical-align: super;
  font-size: 0.7em;
  display: inline-block;
  padding: 0 4px;
  margin: 0 2px;
  user-select: none;
  text-decoration: none;
  background: #aad5ff; }
  @media print {
    .article-ref {
      padding: 0; } }
  .article-ref:hover, .article-ref:focus {
    background: #77bbff; }

.counter {
  padding-left: 30px;
  counter-reset: counter-items; }
  .counter .counter__item:before {
    counter-increment: counter-items;
    content: counter(counter-items);
    color: #999;
    position: absolute;
    transform: translateX(-100%);
    margin-left: -10px; }
  .counter .counter__increment {
    counter-increment: counter-items; }

.chart {
  position: relative;
  z-index: 1;
  width: 100%;
  page-break-inside: avoid; }
  @media (max-width: 767px) {
    .chart {
      padding-right: 25px; } }

.chart-caption {
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 0.75em; }

.chart--has-x-label {
  padding-bottom: 40px; }

@media (min-width: 425px) and (max-width: 767px) {
  .chart--angled-labels .chart--has-x-label {
    padding-bottom: 8vw; } }
  @media (min-width: 768px) {
    .chart--has-x-label {
      padding-bottom: 52px; } }

.chart--has-y-label, .chart--has-y-label ~ .chart-caption {
  padding-left: 10px; }
  @media (min-width: 768px) {
    .chart--has-y-label, .chart--has-y-label ~ .chart-caption {
      padding-left: 52px; } }

.chart__title {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px; }

.chart__area {
  position: relative;
  width: 100%;
  padding-top: calc(56.25% - 40px); }
  @media (max-width: 767px) {
    .chart--angled-labels .chart__area {
      padding-top: calc(80% - 40px); } }
  @media (max-width: 767px) and (min-width: 425px) {
    .chart--angled-labels .chart__area {
      padding-top: calc(56.25% - 40px); } }
  @media (min-width: 768px) {
    .chart__area {
      padding-top: 50%; } }

.chart__axis--v {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 30px;
  top: 16px;
  width: 50px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__axis--v:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    border-right: 1px solid #999; }
  .chart__axis--v .chart__axis-item {
    position: absolute;
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center; }
  .chart__axis--v .chart__axis-label {
    display: block;
    width: 100%;
    padding: 0 10px 0 0;
    font-size: 16px;
    line-height: 16px;
    transform: translateY(50%); }

.chart__axis--h {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  left: 50px;
  bottom: 0;
  right: 0;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__axis--h:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    border-top: 1px solid #999; }
  .chart__axis--h .chart__axis-item {
    position: absolute;
    text-align: center; }
  .chart__axis--h .chart__axis-label {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 16px; }

.chart__axis--v-label {
  position: absolute;
  top: calc(50% - 8px);
  transform-origin: 50% 50%;
  transform: translate(0, -50%) rotate(-90deg);
  margin-left: -3em;
  font-size: 10px;
  line-height: 1; }
  @media (min-width: 425px) {
    .chart__axis--v-label {
      font-size: 2.35vw; } }
  @media (min-width: 768px) {
    .chart__axis--v-label {
      font-size: 16px; } }

.chart__axis--h-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 10px;
  line-height: 1; }
  @media (min-width: 425px) {
    .chart__axis--h-label {
      font-size: 2.35vw; } }
  @media (min-width: 768px) {
    .chart__axis--h-label {
      font-size: 16px; } }

.chart__gridlines--h,
.chart__gridlines--v {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 50px;
  bottom: 30px;
  top: 16px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__gridlines--h {
  flex-direction: column-reverse; }
  .chart__gridlines--h .chart__gridlines-item {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd; }

.chart__gridlines--v .chart__gridlines-item {
  position: absolute;
  top: -1px;
  bottom: 0;
  border-right: 1px solid #ddd; }

.chart__legend {
  z-index: 4;
  margin: 0;
  display: flex;
  flex-wrap: wrap; }
  .chart__legend:after {
    content: "";
    display: table;
    clear: both; }

.chart__legend-name {
  width: calc(100% - 16px);
  padding-left: 8px;
  margin-bottom: 8px;
  line-height: 1; }

.chart__legend-indicator {
  margin: 0;
  background: #999;
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  margin-bottom: 8px;
  color-adjust: exact;
  -webkit-print-color-adjust: exact; }

.chart__bar-groups--v,
.chart__bar-groups--h {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__bar-groups--v .chart__bar-group,
  .chart__bar-groups--h .chart__bar-group {
    position: relative;
    flex: 1 1 0%;
    height: 100%;
    display: flex; }
  .chart__bar-groups--v .chart__bar-group-bars,
  .chart__bar-groups--h .chart__bar-group-bars {
    padding: 0;
    width: 100%;
    display: flex; }
  .chart__bar-groups--v .chart__bar,
  .chart__bar-groups--h .chart__bar {
    position: relative;
    flex: 1 1 0%;
    height: 100%;
    display: flex;
    color-adjust: exact;
    -webkit-print-color-adjust: exact; }
  .chart__bar-groups--v .chart__bar-area,
  .chart__bar-groups--h .chart__bar-area {
    position: relative;
    background: #999;
    cursor: pointer; }
    .chart__bar-groups--v .chart__bar-area:hover, .chart__bar-groups--v .chart__bar-area:focus,
    .show-tooltips .chart__bar-groups--v .chart__bar-area,
    .chart__bar-groups--h .chart__bar-area:hover,
    .chart__bar-groups--h .chart__bar-area:focus,
    .show-tooltips
    .chart__bar-groups--h .chart__bar-area {
      outline: none; }
      .chart__bar-groups--v .chart__bar-area:hover .chart__bar-tooltip, .chart__bar-groups--v .chart__bar-area:focus .chart__bar-tooltip,
      .show-tooltips .chart__bar-groups--v .chart__bar-area .chart__bar-tooltip,
      .chart__bar-groups--h .chart__bar-area:hover .chart__bar-tooltip,
      .chart__bar-groups--h .chart__bar-area:focus .chart__bar-tooltip,
      .show-tooltips
      .chart__bar-groups--h .chart__bar-area .chart__bar-tooltip {
        opacity: 1;
        pointer-events: auto; }
    .chart__bar-groups--v .chart__bar-area:focus,
    .chart__bar-groups--h .chart__bar-area:focus {
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.4); }
    .show-tooltips .chart__bar-groups--v .chart__bar-area, .show-tooltips
    .chart__bar-groups--h .chart__bar-area {
      cursor: default;
      cursor: unset; }
    .chart__bar-groups--v .chart__bar-area.is-selected:after,
    .chart__bar-groups--h .chart__bar-area.is-selected:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2); }
  .chart__bar-groups--v .chart__bar-tooltip,
  .chart__bar-groups--h .chart__bar-tooltip {
    opacity: 0;
    pointer-events: none;
    cursor: text;
    position: absolute;
    z-index: 1;
    padding: 0 6px;
    background: #000;
    border: 3px solid #000;
    color: #fff;
    text-align: center; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-series,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-series {
      display: block;
      font-size: 12px; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-label,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-label {
      display: block;
      font-size: 12px; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-value,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-value {
      display: block; }

.chart__bar-groups--v .chart__bar-group-bars--stacked {
  flex-direction: column;
  justify-content: flex-end; }
  .chart__bar-groups--v .chart__bar-group-bars--stacked .chart__bar {
    flex-grow: 0; }
  .chart__bar-groups--v .chart__bar-group-bars--stacked .chart__bar-area {
    height: 100%; }
  .chart__bar-groups--v .chart__bar-group-bars--stacked .chart__bar:nth-child(n+2) .chart__bar-area::before {
    display: none; }

.chart__bar-groups--v .chart__bar {
  align-items: flex-end; }

.chart__bar-groups--v .chart__bar-area {
  width: 80%;
  margin: 0 auto;
  transition: height 0.5s; }
  .chart__bar-groups--v .chart__bar-area::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 5px; }

.chart__bar-groups--v.chart__bar-groups--histogram .chart__bar-area {
  width: 100%; }

.chart__bar-groups--v .chart__bar-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  padding: 10px 5px 0;
  min-width: 100%;
  text-align: center; }
  @media (max-width: 767px) {
    .chart--angled-labels .chart__bar-groups--v .chart__bar-label {
      white-space: nowrap;
      transform-origin: 100% 0%;
      transform: translateY(100%) translateX(-95%) rotate(-30deg);
      padding: 0 5px; } }

.chart__bar-groups--v .chart__bar-tooltip {
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  min-width: 100%; }

.chart__bar-groups--h {
  flex-direction: column; }
  .chart__bar-groups--h .chart__bar-group-bars {
    flex-direction: column; }
  .chart__bar-groups--h .chart__bar-group-bars--stacked {
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .chart__bar-groups--h .chart__bar-group-bars--stacked .chart__bar {
      flex-grow: 0; }
    .chart__bar-groups--h .chart__bar-group-bars--stacked .chart__bar-area {
      width: 100%; }
    .chart__bar-groups--h .chart__bar-group-bars--stacked .chart__bar:nth-child(n+2) .chart__bar-area::before {
      display: none; }
  .chart__bar-groups--h .chart__bar {
    width: 100%;
    align-items: center; }
  .chart__bar-groups--h .chart__bar-area {
    height: 80%;
    transition: width 0.5s; }
    .chart__bar-groups--h .chart__bar-area::before {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 5px; }
  .chart__bar-groups--h.chart__bar-groups--histogram .chart__bar-area {
    height: 100%; }
  .chart__bar-groups--h .chart__bar-label {
    position: absolute;
    top: 50%;
    right: 100%;
    max-width: 50px;
    transform: translateY(-50%);
    padding-right: 10px; }
  .chart__bar-groups--h .chart__bar-tooltip {
    top: 50%;
    left: 100%;
    transform: translateX(5px) translateY(-50%);
    min-height: 100%; }

@media (max-width: 767px) and (max-width: 424px) {
  .chart__axis--h .chart__axis-label,
  .chart__axis--v .chart__axis-label,
  .chart__bar-label {
    font-size: 10px; } }

@media (max-width: 767px) and (min-width: 425px) {
  .chart__axis--h .chart__axis-label,
  .chart__axis--v .chart__axis-label,
  .chart__bar-label {
    font-size: 2.3vw; } }

@media (min-width: 768px) {
  .chart__axis--h .chart__axis-label,
  .chart__axis--v .chart__axis-label,
  .chart__bar-label {
    font-size: 18px; } }

.chart__points {
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px;
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__point {
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(50%);
  transition: all 0.5s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #999; }

.chart__lines-wrapper {
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px; }

.chart__lines {
  height: 100%;
  width: 100%; }

.chart__line {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1;
  stroke-linecap: round;
  stroke: #999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  @media (min-width: 425px) {
    .chart__line {
      stroke-width: 2; } }
  @media (min-width: 768px) {
    .chart__line {
      stroke-width: 3; } }

.chart__point-tooltips {
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__point-tooltip {
  position: absolute;
  transform: translate(-50%, 50%);
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: all 0.3s; }
  .chart__point-tooltip:hover, .chart__point-tooltip:focus {
    width: 15px;
    height: 15px;
    outline: none; }
  .chart__point-tooltip:hover {
    z-index: 1; }
  .chart__point-tooltip:before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%; }

.chart__point-tooltip-body {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  min-width: 80px;
  opacity: 0;
  pointer-events: none;
  padding: 0 6px;
  background: #000;
  border: 3px solid #000;
  color: #fff;
  text-align: center; }
  .chart__point-tooltip:hover .chart__point-tooltip-body,
  .chart__point-tooltip:focus .chart__point-tooltip-body {
    opacity: 1;
    pointer-events: auto; }
  .chart__point-tooltip-body .chart-point__tooltip-series {
    display: block;
    font-size: 12px; }
  .chart__point-tooltip-body .chart-point__tooltip-label {
    display: block;
    font-size: 12px; }
  .chart__point-tooltip-body .chart-point__tooltip-value {
    display: block; }

.content code,
.code,
.codebook__code,
.codebook__log,
.codebook__style {
  display: inline;
  background: #eee;
  color: #000;
  padding: 3px 7px;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  tab-size: 4;
  -moz-tab-size: 4;
  max-width: 100%;
  overflow: auto; }

.code--block, .codebook__code, .codebook__log, .codebook__style {
  display: block;
  min-height: 30px;
  padding: 0 7px;
  margin: 20px 0; }
  .code--block:first-child, .codebook__code:first-child, .codebook__log:first-child, .codebook__style:first-child {
    margin-top: 0; }
  .code--block:last-child, .codebook__code:last-child, .codebook__log:last-child, .codebook__style:last-child {
    margin-bottom: 0; }

.codebook__panel {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .codebook__panel:first-child {
    margin-top: 0; }
  .codebook__panel:last-child {
    padding-bottom: none;
    border-bottom: none;
    margin-bottom: 0; }

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -20px;
  margin-top: -20px; }
  @supports (display: grid) {
    .article-list {
      margin: 0;
      display: grid;
      grid-gap: 20px; }
      @media (max-width: 424px) {
        .article-list {
          grid-template-columns: repeat(auto-fill, 1fr); } }
      @media (min-width: 425px) {
        .article-list {
          grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); } } }

.article-list__item {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .article-list__item {
      width: 50%; } }
  @media (min-width: 1024px) {
    .article-list__item {
      width: 33.33333%; } }
  @supports (display: grid) {
    .article-list__item {
      width: 100%;
      padding: 0; } }

.article-list__item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #333;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #ddd; }

.article-list__item-image-container {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden; }

.article-list__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.25s; }

.article-list__item-body {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.article-list__item-title {
  margin: 0;
  font-size: 18px; }

.article-list__item-details {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.article-list__item-date,
.article-list__item-author {
  color: #666;
  font-size: 0.75em; }

.article-list__item-link:hover .article-list__item-image, .article-list__item-link:focus .article-list__item-image {
  transform: scale(1.05); }
